@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@400;500&family=Rubik:wght@500&display=swap");
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 7.5rem; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    h2 {
      font-size: 2.8rem;
      margin-bottom: 3.2rem; } }

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 3rem; }
  @media only screen and (max-width: 37.5em) {
    h3 {
      font-size: 2.5rem; } }

h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    h4 {
      margin-bottom: 3.2rem; } }

.p-style {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5; }

.p-style-hero {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5; }
  @media only screen and (max-width: 37.5em) {
    .p-style-hero {
      font-size: 2rem; } }

button a {
  text-decoration: none;
  color: inherit;
  display: block; }

a {
  text-decoration: none;
  color: inherit; }

.dbl-pad {
  padding-top: 11.2rem;
  padding-bottom: 11.2rem; }
  @media only screen and (max-width: 75em) {
    .dbl-pad {
      padding-top: 6.4rem;
      padding-bottom: 6.4rem; } }

.top-pad {
  padding-top: 11.2rem; }
  @media only screen and (max-width: 75em) {
    .top-pad {
      padding-top: 6.4rem; } }

.bottom-pad {
  padding-bottom: 11.2rem; }
  @media only screen and (max-width: 48em) {
    .bottom-pad {
      padding-bottom: 6.4rem; } }

.main-container {
  max-width: 144rem;
  margin-right: auto;
  margin-left: auto;
  color: #222;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, 1fr) minmax(1rem, 1fr);
  column-gap: 2.4rem; }

h2.underline--primary {
  position: relative; }
  h2.underline--primary:before {
    content: " ";
    position: absolute;
    top: 100%;
    width: 5rem;
    border: 0.41rem solid #1800ff;
    background-color: #1800ff; }
    @media only screen and (max-width: 48em) {
      h2.underline--primary:before {
        width: 3rem; } }

h3.underline--primary {
  position: relative; }
  h3.underline--primary:before {
    content: " ";
    position: absolute;
    top: 100%;
    width: 2.4rem;
    border: 0.2rem solid #1800ff;
    background-color: #1800ff; }

h3.underline--secondary {
  position: relative; }
  h3.underline--secondary:before {
    content: " ";
    position: absolute;
    top: 100%;
    width: 2.4rem;
    border: 0.2rem solid #e2f3f3;
    background-color: #e2f3f3; }

h3.underline--cta {
  position: relative; }
  h3.underline--cta:before {
    content: " ";
    position: absolute;
    top: 100%;
    width: 2.4rem;
    border: 0.2rem solid #d63e2a;
    background-color: #d63e2a; }

h4.underline--primary {
  position: relative; }
  h4.underline--primary:before {
    content: " ";
    position: absolute;
    top: 100%;
    width: 3rem;
    border: 0.2rem solid #1800ff;
    background-color: #1800ff; }

.btn-basic {
  width: 20.9rem;
  height: 4.8rem;
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer; }
  .btn-basic:hover {
    transition: transform 1s ease;
    transform: translateY(0.08rem);
    background-color: #fcfcfc; }
  .btn-basic:focus {
    outline: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }

nav {
  background: #fff;
  box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
  font-family: "Karla", sans-serif;
  max-width: 192rem; }
  nav:after {
    content: "";
    clear: both;
    display: table; }
  nav .logo {
    float: left;
    color: #222;
    font-size: 2.3rem;
    font-family: "Montserrat", sans-serif;
    line-height: 3;
    font-weight: 500;
    padding-left: 2rem; }
  nav img {
    float: left;
    left: 1rem;
    height: 4.3rem;
    width: 4.3rem;
    margin-top: 1rem;
    margin-left: 4.8rem; }
  nav ul {
    float: right;
    margin-right: 5rem;
    list-style: none;
    position: relative; }
    nav ul li {
      float: left;
      display: inline-block;
      margin: 0 0.5rem; }
      nav ul li .current-page {
        font-weight: bold; }
      nav ul li a {
        color: #222;
        line-height: 7rem;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0.8rem 2rem; }
      nav ul li:hover {
        font-weight: bold; }
      nav ul li:hover > ul {
        top: 7rem;
        opacity: 1;
        visibility: visible;
        font-weight: normal; }
    nav ul ul {
      position: absolute;
      top: 7rem;
      border-top: 0.4rem solid #1800ff;
      opacity: 0;
      visibility: hidden;
      transition: top 0.2s ease-in-out;
      background: #fff;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.15);
      border-radius: 0.3rem;
      z-index: 1; }
      nav ul ul li {
        position: relative;
        margin: 0;
        width: 23rem;
        float: none;
        display: list-item; }
        nav ul ul li a {
          padding-left: 1rem;
          font-size: 1.7rem; }

.menu-btn {
  background: blue;
  margin-left: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 2rem; }
  .menu-btn:hover {
    background-color: #1300cc; }

.show-dropdown {
  display: none; }

.burger {
  display: none; }

input[type="checkbox"] {
  display: none; }

@media screen and (max-width: 75em) {
  .mobile-menu-backdrop {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(251, 251, 251, 0.92);
    z-index: 1; }
  .fixed-position {
    position: fixed; }
  nav ul {
    margin-right: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    height: 100vh;
    width: 70vw;
    background-color: #e2f3f3; }
    nav ul li {
      display: block;
      width: 100%; }
      nav ul li a {
        font-size: 2rem;
        line-height: 5rem; }
        nav ul li a:hover {
          box-shadow: none; }
    nav ul ul {
      height: 100%;
      top: 7rem;
      border-top: 0;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
      background-color: #e2f3f3;
      box-shadow: none; }
      nav ul ul li {
        display: block;
        width: 100%; }
      nav ul ul a {
        font-size: 1.8rem;
        margin-left: 3.5rem; }
  nav img {
    margin-left: 2.5rem; }
  nav .logo {
    padding-left: 1rem; }
  .show-dropdown {
    display: inline-block;
    color: #222;
    font-size: 2rem;
    padding-left: 2rem;
    line-height: 5rem;
    cursor: pointer; }
    .show-dropdown + a {
      display: none; }
    .show-dropdown span.arrow {
      display: inline-block;
      font-weight: lighter;
      color: #555;
      font-size: 2rem;
      transform: rotate(90deg); }
    .show-dropdown span.rotate-arrow {
      display: inline-block;
      font-weight: lighter;
      color: #555;
      font-size: 2rem;
      transform: rotate(-90deg); }
  ul {
    display: none; }
  .burger {
    display: block;
    color: #1800ff;
    position: absolute;
    top: 0;
    right: 2rem;
    align-self: center;
    cursor: pointer;
    font-size: 2.5rem; }
    .burger .burger-bars {
      margin-top: 1.5rem;
      width: 2.3rem; }
  [id="burger-checkbox"]:checked + ul {
    display: block; }
  [id^="dropdown"]:checked + ul {
    display: block; }
  span.cancel:before {
    content: "\00d7";
    color: #1800ff;
    padding-bottom: 1rem;
    padding-left: 4rem;
    cursor: pointer;
    font-size: 5rem;
    font-weight: lighter; } }

@media screen and (max-width: 37.5em) {
  nav img {
    align-self: center;
    margin-left: 2rem; }
  nav .logo {
    font-size: 1.8rem;
    line-height: 4; }
  nav .burger .burger-bars {
    margin-top: 1.5rem; } }

@media screen and (max-width: 22.4em) {
  .burger .burger-bars {
    width: 2rem; } }

footer.main-container {
  grid-template-rows: min-content;
  background-color: #f9f9f9; }
  footer.main-container .contact-section {
    grid-row: 1;
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    margin-bottom: 6.4rem; }
    footer.main-container .contact-section header h4 {
      margin-bottom: 3.2rem; }
    footer.main-container .contact-section .contact-item {
      display: flex;
      margin-bottom: 1rem; }
      footer.main-container .contact-section .contact-item p {
        margin-left: 1rem;
        line-height: 1.2; }
      footer.main-container .contact-section .contact-item img.loc-icon {
        transform: translateY(-1rem); }
    @media only screen and (max-width: 64em) {
      footer.main-container .contact-section {
        grid-row: 1;
        grid-column: 2 / span 12; } }
  footer.main-container .subscribe-section {
    grid-row: 1;
    grid-column: 6 / span 4;
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column; }
    footer.main-container .subscribe-section header h4,
    footer.main-container .subscribe-section p {
      margin-bottom: 3.2rem; }
    footer.main-container .subscribe-section form.subscribe-form {
      display: flex; }
      footer.main-container .subscribe-section form.subscribe-form input {
        border: 0.1rem solid #d2d2d2;
        font-family: "Karla", sans-serif;
        font-size: 1.6rem;
        padding: 1rem;
        width: 25.9rem; }
        footer.main-container .subscribe-section form.subscribe-form input::placeholder {
          font-style: italic; }
        footer.main-container .subscribe-section form.subscribe-form input:focus {
          outline: none;
          border: 0.2rem solid #e2f3f3; }
      footer.main-container .subscribe-section form.subscribe-form button.btn-basic {
        width: 10.9rem;
        background-color: #1800ff;
        color: #fff;
        transform: translateX(-0.5rem); }
        footer.main-container .subscribe-section form.subscribe-form button.btn-basic:hover {
          background-color: #1300cc; }
    @media only screen and (max-width: 64em) {
      footer.main-container .subscribe-section {
        grid-row: 2;
        grid-column: 2 / span 12; } }
  footer.main-container .social-media-section {
    grid-row: 1;
    grid-column: 11 / span 3;
    margin-bottom: 6.4rem;
    display: flex;
    flex-direction: column; }
    footer.main-container .social-media-section header h4 {
      margin-bottom: 3.2rem; }
    footer.main-container .social-media-section .link-container {
      display: flex; }
      footer.main-container .social-media-section .link-container .icon-container {
        height: 3.2rem;
        margin-right: 2rem; }
        footer.main-container .social-media-section .link-container .icon-container img {
          height: 100%; }
          footer.main-container .social-media-section .link-container .icon-container img:hover {
            transition: transform 1s ease;
            transform: translateY(0.08rem); }
    @media only screen and (max-width: 64em) {
      footer.main-container .social-media-section {
        grid-row: 3;
        grid-column: 2 / span 12; } }
  footer.main-container .line {
    grid-row: 1;
    grid-column: 2 / span 12;
    border: 0.05rem solid #c4c4c4;
    width: 100%;
    align-self: end; }
    @media only screen and (max-width: 64em) {
      footer.main-container .line {
        grid-row: 3; } }
  footer.main-container .footer-bottom {
    grid-row: 2;
    grid-column: 2 / span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    footer.main-container .footer-bottom .footer-logo {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      footer.main-container .footer-bottom .footer-logo .brand {
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        margin-left: 1.5rem;
        margin-top: 1.2rem; }
        @media only screen and (max-width: 37.5em) {
          footer.main-container .footer-bottom .footer-logo .brand {
            margin-left: 0.6rem;
            font-size: 1.8rem; } }
    footer.main-container .footer-bottom .copyright-container {
      display: flex;
      margin-bottom: 1.6rem; }
    @media only screen and (max-width: 64em) {
      footer.main-container .footer-bottom {
        grid-row: 4; }
        footer.main-container .footer-bottom .copyright-container {
          flex-direction: column;
          align-items: center; }
          footer.main-container .footer-bottom .copyright-container p span {
            display: none; } }

.main-container.hero-section {
  grid-template-rows: 90vh; }
  @media only screen and (max-width: 75em) {
    .main-container.hero-section {
      grid-template-rows: 60vh; } }
  @media only screen and (max-width: 37.5em) {
    .main-container.hero-section {
      grid-template-rows: 80vh; } }
  @media only screen and (max-width: 22.4em) {
    .main-container.hero-section {
      grid-template-rows: 95vh; } }
  .main-container.hero-section .hero {
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.6), rgba(22, 9, 95, 0.5)), url(../img/home/home1.jpg) no-repeat center center/cover;
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .main-container.hero-section .hero h1,
    .main-container.hero-section .hero p,
    .main-container.hero-section .hero button {
      margin-left: 5.2rem;
      margin-right: 5.2rem;
      max-width: 30%;
      color: #fff; }
      @media only screen and (max-width: 75em) {
        .main-container.hero-section .hero h1,
        .main-container.hero-section .hero p,
        .main-container.hero-section .hero button {
          max-width: 60%; } }
      @media only screen and (max-width: 48em) {
        .main-container.hero-section .hero h1,
        .main-container.hero-section .hero p,
        .main-container.hero-section .hero button {
          max-width: 90%; } }
    .main-container.hero-section .hero p {
      padding-top: 3.2rem;
      padding-bottom: 3.2rem; }
    .main-container.hero-section .hero button {
      width: 19.1rem;
      height: 5.12rem;
      font-family: "Karla", sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      border: none;
      cursor: pointer;
      background-color: #d63e2a;
      margin-bottom: 6.4rem; }
      .main-container.hero-section .hero button:hover {
        transition: transform 1s ease;
        transform: translateY(0.08rem);
        background-color: #c13725; }
      .main-container.hero-section .hero button:focus {
        outline: none; }
      @media only screen and (max-width: 48em) {
        .main-container.hero-section .hero button {
          margin-left: auto;
          margin-right: auto; } }

.main-container.home-intro-section {
  grid-template-rows: min-content;
  padding-bottom: 6.4rem; }
  .main-container.home-intro-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.home-intro-section .intro-img {
    grid-row: 2;
    grid-column: 7 / span 7; }
    .main-container.home-intro-section .intro-img img {
      max-width: 95%;
      transform: translateY(-6.2rem); }
      @media only screen and (max-width: 75em) {
        .main-container.home-intro-section .intro-img img {
          transform: translateY(0); } }
    @media only screen and (max-width: 75em) {
      .main-container.home-intro-section .intro-img {
        grid-row: 2;
        grid-column: 2 / span 12; } }
  .main-container.home-intro-section .intro-content {
    padding-top: 3.2rem;
    grid-row: 2;
    grid-column: 2 / span 5; }
    .main-container.home-intro-section .intro-content p {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.home-intro-section .intro-content {
        grid-row: 3;
        grid-column: 2 / span 12; } }

.main-container.initiatives-main-section {
  grid-template-rows: min-content;
  background: linear-gradient(to bottom, #e2f3f3 0%, #e2f3f3 40%, #fff 40%, #fff 100%); }
  @media only screen and (max-width: 48em) {
    .main-container.initiatives-main-section {
      background: linear-gradient(to bottom, #e2f3f3 0%, #e2f3f3 35%, #fff 35%, #fff 100%); } }
  .main-container.initiatives-main-section .initiatives-intro {
    grid-row: 1;
    grid-column: 2 / span 12;
    padding-bottom: 6.4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%; }
    @media only screen and (max-width: 48em) {
      .main-container.initiatives-main-section .initiatives-intro {
        text-align: left;
        max-width: 100%; } }
  .main-container.initiatives-main-section .initiatives-section {
    grid-row: 2;
    grid-column: 2 / span 12;
    background-color: #fff;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15); }
    .main-container.initiatives-main-section .initiatives-section .container-initiatives {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content;
      column-gap: 2.2rem;
      row-gap: 11.2rem; }
      .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-img {
        grid-row: 1;
        grid-column: 2 / span 5; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-img img {
          max-width: 100%;
          object-fit: cover; }
        @media only screen and (max-width: 75em) {
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-img {
            grid-row: 1;
            grid-column: 2 / span 10; } }
      .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content {
        grid-row: 1;
        grid-column: 7 / span 5; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content h3 {
          margin-bottom: 6.4rem; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content p {
          margin-bottom: 6.4rem; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content button {
          background-color: #1800ff;
          color: #fff; }
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content button:hover {
            background-color: #1300cc; }
        @media only screen and (max-width: 75em) {
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content {
            grid-row: 2;
            grid-column: 2 / span 10;
            display: grid; }
            .main-container.initiatives-main-section .initiatives-section .container-initiatives .bring-a-smile-content button {
              justify-self: center; } }
      .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-img {
        grid-row: 2;
        grid-column: 7 / span 5; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-img img {
          max-width: 100%;
          object-fit: cover; }
        @media only screen and (max-width: 75em) {
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-img {
            grid-row: 3;
            grid-column: 2 / span 10; } }
      .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content {
        grid-row: 2;
        grid-column: 2 / span 5; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content h3 {
          margin-bottom: 6.4rem; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content p {
          margin-bottom: 6.4rem; }
        .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content button {
          background-color: #1800ff;
          color: #fff; }
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content button:hover {
            background-color: #1300cc; }
        @media only screen and (max-width: 75em) {
          .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content {
            grid-row: 4;
            grid-column: 2 / span 10;
            display: grid; }
            .main-container.initiatives-main-section .initiatives-section .container-initiatives .mothers-of-gold-content button {
              justify-self: center; } }
      @media only screen and (max-width: 75em) {
        .main-container.initiatives-main-section .initiatives-section .container-initiatives {
          row-gap: 6.4rem; } }

.main-container.ministry-section {
  grid-template-rows: min-content; }
  .main-container.ministry-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.ministry-section .ministry-img {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.ministry-section .ministry-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .main-container.ministry-section .ministry-img {
        grid-row: 2;
        grid-column: 2 / span 12;
        margin-bottom: 3.2rem; } }
  .main-container.ministry-section .ministry-content {
    grid-row: 2;
    grid-column: 8 / span 5; }
    .main-container.ministry-section .ministry-content p {
      margin-bottom: 3.2rem; }
    .main-container.ministry-section .ministry-content button {
      margin-top: 6.4rem;
      border: 0.3rem solid #e2f3f3;
      background-color: #fff; }
      .main-container.ministry-section .ministry-content button:hover {
        background-color: #fcfcfc; }
    @media only screen and (max-width: 75em) {
      .main-container.ministry-section .ministry-content {
        grid-row: 3;
        grid-column: 2 / span 12;
        display: grid; }
        .main-container.ministry-section .ministry-content button {
          margin-top: 0;
          justify-self: center; } }

.main-container.become-a-ga {
  grid-template-rows: min-content;
  grid-column: 1 / -1;
  background: url(../img/ministries/triangle-bg.png) no-repeat center center/cover; }
  .main-container.become-a-ga .content-container {
    grid-column: 1 / -1;
    text-align: center; }
    .main-container.become-a-ga .content-container p {
      margin: 0 auto;
      max-width: 50%; }
    .main-container.become-a-ga .content-container button {
      background-color: #1800ff;
      color: #fff;
      margin-top: 6.4rem; }
      .main-container.become-a-ga .content-container button:hover {
        background-color: #1300cc; }

.main-container.main-container-contact {
  grid-template-rows: min-content; }
  .main-container.main-container-contact .contact-header {
    grid-row: 1 / span 1;
    grid-column: 2 / span 12; }
  .main-container.main-container-contact .contact-content {
    grid-column: 2 / span 5;
    grid-row: 2 / span 1; }
    .main-container.main-container-contact .contact-content p {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-contact .contact-content {
        grid-column: 2 / span 12;
        grid-row: 2; } }
  .main-container.main-container-contact .address-container {
    grid-column: 2 / span 5;
    grid-row: 3 / span 1; }
    .main-container.main-container-contact .address-container .address-items {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: 1fr max-content 1fr;
      column-gap: 1rem; }
      .main-container.main-container-contact .address-container .address-items img {
        margin-top: 0.5rem; }
      .main-container.main-container-contact .address-container .address-items--1 {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 3.2rem; }
      .main-container.main-container-contact .address-container .address-items--2 {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 1.6rem; }
      .main-container.main-container-contact .address-container .address-items--3 {
        grid-column: 1;
        grid-row: 3; }
      .main-container.main-container-contact .address-container .address-items p.address-items--1 {
        grid-column: 2;
        grid-row: 1;
        font-style: normal; }
      .main-container.main-container-contact .address-container .address-items p.address-items--2 {
        grid-column: 2;
        grid-row: 2;
        font-style: normal; }
      .main-container.main-container-contact .address-container .address-items p.address-items--3 {
        grid-column: 2;
        grid-row: 3;
        font-style: normal; }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-contact .address-container {
        grid-column: 2 / span 12;
        grid-row: 4; } }
  .main-container.main-container-contact .contact-form-container {
    grid-column: 8 / span 6;
    grid-row: 2 / span 2; }
    .main-container.main-container-contact .contact-form-container .form {
      display: flex;
      flex-direction: column; }
      .main-container.main-container-contact .contact-form-container .form label {
        display: block;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 1.6rem; }
      .main-container.main-container-contact .contact-form-container .form input {
        width: 100%;
        height: 4.8rem;
        font-family: "Karla", sans-serif;
        font-size: 1.8rem;
        color: #222;
        padding: 1rem;
        margin-bottom: 3.2rem;
        border: 0.2rem solid #f9f9f9;
        border-radius: 0.1rem; }
        .main-container.main-container-contact .contact-form-container .form input::placeholder {
          font-style: italic; }
        .main-container.main-container-contact .contact-form-container .form input:focus {
          outline: none;
          border: 0.2rem solid #e2f3f3; }
      .main-container.main-container-contact .contact-form-container .form textarea {
        width: 100%;
        height: 20.1rem;
        font-family: "Karla", sans-serif;
        color: #222;
        font-size: 1.8rem;
        margin-bottom: 3.2rem;
        padding: 1rem;
        border: 0.2rem solid #f9f9f9;
        border-radius: 0.1rem; }
        .main-container.main-container-contact .contact-form-container .form textarea:focus {
          outline: none;
          border: 0.2rem solid #e2f3f3; }
    .main-container.main-container-contact .contact-form-container .contact-btn {
      cursor: pointer;
      width: 19.1rem;
      height: 5.1rem;
      color: #fff;
      background-color: #1800ff;
      border: none;
      font-family: "Karla", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 1.5; }
      .main-container.main-container-contact .contact-form-container .contact-btn:hover {
        transition: transform 1s ease;
        transform: translateY(0.08rem);
        background-color: #1300cc; }
      .main-container.main-container-contact .contact-form-container .contact-btn:focus {
        outline: none; }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-contact .contact-form-container {
        grid-column: 2 / span 12;
        grid-row: 3;
        margin-bottom: 6.4rem; } }

.main-container.main-container-prayer {
  grid-template-rows: repeat(2, min-content) 60vh auto; }
  .main-container.main-container-prayer h4 {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.main-container-prayer h2 {
    grid-row: 2;
    grid-column: 2 / span 12; }
  .main-container.main-container-prayer .container-photo {
    grid-row: 3;
    grid-column: 2 / span 12; }
    .main-container.main-container-prayer .container-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .main-container.main-container-prayer section.prayer-content {
    margin-top: 11.2rem;
    grid-column: 4 / span 8;
    grid-row: 4; }
    .main-container.main-container-prayer section.prayer-content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.main-container-prayer section.prayer-content {
        margin-top: 3.2rem;
        grid-column: 2 / span 12; } }

.main-container.main-container-donate {
  grid-template-rows: min-content; }
  .main-container.main-container-donate .header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.main-container-donate .donate-content {
    grid-row: 2;
    grid-column: 2 / span 6;
    overflow: auto; }
    .main-container.main-container-donate .donate-content p {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-donate .donate-content {
        grid-column: 2 / span 12; } }
  .main-container.main-container-donate aside.donate-options {
    grid-row: 2;
    grid-column: 9 / span 5;
    background-color: #e2f3f3;
    padding-bottom: 6.4rem; }
    .main-container.main-container-donate aside.donate-options .container-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 6.4rem; }
      .main-container.main-container-donate aside.donate-options .container-flex p {
        margin-bottom: 3.2rem; }
      .main-container.main-container-donate aside.donate-options .container-flex button.btn {
        width: 28.4rem;
        height: 4.8rem;
        font-size: 1.8rem;
        font-family: "Karla", sans-serif;
        font-weight: 700;
        border: none;
        cursor: pointer; }
        .main-container.main-container-donate aside.donate-options .container-flex button.btn--givingway {
          background-color: #1800ff;
          color: #fff;
          margin-bottom: 1.6rem; }
          .main-container.main-container-donate aside.donate-options .container-flex button.btn--givingway:hover {
            transition: transform 1s ease;
            transform: translateY(0.08rem);
            background-color: #1300cc; }
          .main-container.main-container-donate aside.donate-options .container-flex button.btn--givingway:focus {
            outline: none; }
        .main-container.main-container-donate aside.donate-options .container-flex button.btn--paypal {
          background-color: #fff;
          color: #222; }
          .main-container.main-container-donate aside.donate-options .container-flex button.btn--paypal:hover {
            transition: transform 1s ease;
            transform: translateY(0.08rem);
            background-color: #fcfcfc; }
          .main-container.main-container-donate aside.donate-options .container-flex button.btn--paypal:focus {
            outline: none; }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-donate aside.donate-options {
        grid-column: 2 / span 12;
        grid-row: 3; } }
  .main-container.main-container-donate section.initiatives {
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: #e2f3f3;
    margin-top: 11.2rem; }
    .main-container.main-container-donate section.initiatives .container-initiatives {
      grid-column: 2 / span 12;
      grid-row: 2;
      display: grid;
      grid-template-rows: min-content;
      row-gap: 6.4rem; }
      .main-container.main-container-donate section.initiatives .container-initiatives h2 {
        grid-row: 1;
        margin-bottom: 0; }
      .main-container.main-container-donate section.initiatives .container-initiatives .initiative {
        display: flex; }
        .main-container.main-container-donate section.initiatives .container-initiatives .initiative div {
          width: 42.2%;
          color: #222;
          padding-right: 1.5rem;
          display: flex;
          align-items: flex-start;
          padding-left: 8rem; }
          .main-container.main-container-donate section.initiatives .container-initiatives .initiative div img {
            padding-top: 0.8rem;
            padding-right: 1rem; }
            @media only screen and (max-width: 64em) {
              .main-container.main-container-donate section.initiatives .container-initiatives .initiative div img {
                padding-top: 0.6rem; } }
          @media only screen and (max-width: 64em) {
            .main-container.main-container-donate section.initiatives .container-initiatives .initiative div {
              width: 100%;
              padding-left: 0;
              padding-bottom: 3.2rem; } }
        .main-container.main-container-donate section.initiatives .container-initiatives .initiative p {
          width: 57.8%;
          font-family: "Karla", sans-serif;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 1.5; }
          @media only screen and (max-width: 64em) {
            .main-container.main-container-donate section.initiatives .container-initiatives .initiative p {
              width: 100%; } }
        @media only screen and (max-width: 64em) {
          .main-container.main-container-donate section.initiatives .container-initiatives .initiative {
            flex-direction: column; } }
    @media only screen and (max-width: 64em) {
      .main-container.main-container-donate section.initiatives {
        grid-row: 4;
        grid-column: 1 / -1; } }

.main-container.volunteer-intro-section {
  grid-template-rows: min-content; }
  .main-container.volunteer-intro-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.volunteer-intro-section .volunteer-intro--content {
    grid-row: 2;
    grid-column: 2 / span 5; }
    .main-container.volunteer-intro-section .volunteer-intro--content hr {
      background-color: #e2f3f3;
      height: 0.42rem;
      border: 0;
      margin-bottom: 3.2rem; }
    .main-container.volunteer-intro-section .volunteer-intro--content p {
      padding-bottom: 3.2rem; }
      .main-container.volunteer-intro-section .volunteer-intro--content p .quote {
        margin-top: 3.2rem; }
    .main-container.volunteer-intro-section .volunteer-intro--content button {
      background-color: #1800ff;
      color: #fff;
      margin-top: 3.2rem; }
      .main-container.volunteer-intro-section .volunteer-intro--content button:hover {
        background-color: #1300cc; }
    @media only screen and (max-width: 75em) {
      .main-container.volunteer-intro-section .volunteer-intro--content {
        grid-column: 2 / span 12;
        grid-row: 2; } }
  .main-container.volunteer-intro-section .volunteer-intro--img {
    grid-row: 2;
    grid-column: 8 / span 6; }
    .main-container.volunteer-intro-section .volunteer-intro--img img {
      width: 100%;
      height: auto; }
    @media only screen and (max-width: 75em) {
      .main-container.volunteer-intro-section .volunteer-intro--img {
        grid-column: 2 / span 12;
        grid-row: 3;
        padding-top: 6.4rem; } }

.main-container.why-section {
  background-color: #e2f3f3; }
  .main-container.why-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.why-section .volunteer-why--content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.why-section .volunteer-why--content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.why-section .volunteer-why--content {
        grid-column: 2 / span 12;
        grid-row: 2; } }
  .main-container.why-section .volunteer-why--img {
    grid-row: 2;
    grid-column: 8 / span 6; }
    .main-container.why-section .volunteer-why--img img {
      width: 100%; }
    @media only screen and (max-width: 75em) {
      .main-container.why-section .volunteer-why--img {
        grid-column: 2 / span 12;
        grid-row: 3;
        padding-top: 3.2rem; } }

.main-container.main-container-intro {
  grid-template-rows: min-content; }
  .main-container.main-container-intro header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.main-container-intro .ministries-intro--content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.main-container-intro .ministries-intro--content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.main-container-intro .ministries-intro--content {
        grid-column: 2 / span 12; } }
  .main-container.main-container-intro .ministries-intro--img {
    grid-row: 2;
    grid-column: 8 / span 6; }
    .main-container.main-container-intro .ministries-intro--img img {
      width: 100%;
      max-height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .main-container.main-container-intro .ministries-intro--img {
        padding-top: 3.2rem;
        grid-column: 2 / span 12;
        grid-row: 3; } }

.main-container.campaign-section {
  grid-template-rows: min-content; }
  .main-container.campaign-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.campaign-section .ministries-campaign--content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.campaign-section .ministries-campaign--content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.campaign-section .ministries-campaign--content {
        padding-top: 3.2rem;
        grid-column: 2 / span 12;
        grid-row: 3; } }
  .main-container.campaign-section .ministries-campaign--img {
    grid-row: 2;
    grid-column: 8 / span 6; }
    .main-container.campaign-section .ministries-campaign--img img {
      width: 100%;
      max-height: 90%;
      object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .main-container.campaign-section .ministries-campaign--img {
        grid-column: 2 / span 12;
        grid-row: 2; } }

.main-container.support-section {
  grid-template-rows: min-content;
  grid-column: 1 / -1;
  background: url(../img/ministries/triangle-bg.png) no-repeat center center/cover; }
  .main-container.support-section .support-container {
    grid-column: 1 / -1;
    text-align: center; }
    .main-container.support-section .support-container p {
      margin: 0 auto;
      max-width: 50%; }
    .main-container.support-section .support-container button {
      background-color: #1800ff;
      color: #fff;
      margin-top: 6.4rem; }
      .main-container.support-section .support-container button:hover {
        background-color: #1300cc; }

.main-container.smile-intro-section {
  grid-template-rows: min-content;
  padding-bottom: 6.4rem; }
  .main-container.smile-intro-section header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.smile-intro-section .spreading-joy-content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.smile-intro-section .spreading-joy-content p {
      padding-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.smile-intro-section .spreading-joy-content {
        grid-column: 2 / span 12;
        grid-row: 2; } }
  .main-container.smile-intro-section .spreading-joy-img {
    grid-row: 2;
    grid-column: 8 / span 6; }
    .main-container.smile-intro-section .spreading-joy-img img {
      transform: translate(1rem, 4rem);
      max-width: 110%; }
      @media only screen and (max-width: 75em) {
        .main-container.smile-intro-section .spreading-joy-img img {
          transform: translate(0);
          max-width: 100%; } }
    @media only screen and (max-width: 75em) {
      .main-container.smile-intro-section .spreading-joy-img {
        grid-column: 2 / span 12;
        grid-row: 3;
        padding-top: 3.2rem;
        margin: 0 auto; } }

.main-container.touring-section {
  grid-row: min-content;
  grid-column: 1 / -1;
  background: url(../img/bringasmile/triangle-bg.png) no-repeat top/contain;
  background-size: 100% 50%; }
  @media only screen and (max-width: 64em) {
    .main-container.touring-section {
      background: linear-gradient(to bottom, #e2f3f3 0%, #e2f3f3 30%, #fff 30%, #fff 100%); } }
  @media only screen and (max-width: 37.5em) {
    .main-container.touring-section {
      background: linear-gradient(to bottom, #e2f3f3 0%, #e2f3f3 20%, #fff 20%, #fff 100%); } }
  .main-container.touring-section header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin: 0 auto;
    margin-bottom: 3.2rem; }
  .main-container.touring-section .section-touring-karamoja {
    grid-row: 2;
    grid-column: 2 / span 12; }
    .main-container.touring-section .section-touring-karamoja .container-touring-karamoja {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content;
      column-gap: 2.4rem;
      row-gap: 6.4rem;
      padding-top: 6.4rem;
      padding-bottom: 6.4rem;
      background-color: #fff;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15); }
      .main-container.touring-section .section-touring-karamoja .container-touring-karamoja p {
        grid-row: 1;
        grid-column: 2 / span 10; }
      .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .inline-link {
        color: #1800ff;
        cursor: pointer; }
      .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--1 {
        grid-row: 2;
        grid-column: 2 / span 3; }
        .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--1 img {
          margin-bottom: 3.2rem; }
        @media only screen and (max-width: 64em) {
          .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--1 {
            grid-column: 2 / span 10;
            grid-row: 2; } }
      .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--2 {
        grid-row: 2;
        grid-column: 5 / span 4;
        max-width: 80%;
        margin: 0 auto; }
        .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--2 img {
          margin-bottom: 3.2rem; }
        @media only screen and (max-width: 64em) {
          .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--2 {
            grid-column: 2 / span 10;
            grid-row: 3;
            max-width: 100%;
            margin: 0; } }
      .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--3 {
        grid-row: 2;
        grid-column: 9 / span 3; }
        .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--3 img {
          margin-bottom: 3.2rem; }
        @media only screen and (max-width: 64em) {
          .main-container.touring-section .section-touring-karamoja .container-touring-karamoja .key-component--3 {
            grid-column: 2 / span 10;
            grid-row: 4; } }

.main-container.mission-section-container {
  grid-template-rows: min-content; }
  .main-container.mission-section-container .mission-headers {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.mission-section-container .mission-content {
    grid-row: 2;
    grid-column: 2 / span 7; }
    .main-container.mission-section-container .mission-content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.mission-section-container .mission-content {
        grid-row: 2;
        grid-column: 2 / span 12; } }
  .main-container.mission-section-container .mission-img {
    grid-row: 2;
    grid-column: 9 / span 5; }
    .main-container.mission-section-container .mission-img img {
      max-width: 115%; }
    @media only screen and (max-width: 75em) {
      .main-container.mission-section-container .mission-img {
        grid-row: 3;
        grid-column: 2 / span 12;
        margin-left: auto;
        margin-right: auto; }
        .main-container.mission-section-container .mission-img img {
          max-width: 100%; } }

.main-container.objectives-main-container header {
  grid-row: 1;
  grid-column: 2 / span 12;
  margin-bottom: 6.4rem; }

.main-container.objectives-main-container .objective-content-container {
  grid-row: 2;
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  row-gap: 6.4rem;
  column-gap: 3.2rem; }
  .main-container.objectives-main-container .objective-content-container .numbered-circle {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    max-width: 7.4rem;
    max-height: 7.4rem;
    text-align: center;
    margin-bottom: 3.2rem;
    border: 0.6rem solid #e2f3f3;
    border-radius: 50%; }
  .main-container.objectives-main-container .objective-content-container p {
    padding-right: 2rem; }

.main-container.work-with-section-container {
  background: linear-gradient(to bottom, #e2f3f3 0%, #e2f3f3 60%, #fff 60%, #fff 100%);
  grid-template-rows: min-content; }
  .main-container.work-with-section-container .work-with-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: 6.4rem; }
  .main-container.work-with-section-container .work-with-content-container {
    grid-row: 2;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    row-gap: 6.4rem;
    column-gap: 2.4rem; }
    .main-container.work-with-section-container .work-with-content-container .card {
      padding: 6.4rem 3.2rem;
      background: #fff;
      box-shadow: 0 0.8rem 1.3rem rgba(0, 0, 0, 0.1); }
      .main-container.work-with-section-container .work-with-content-container .card h3 {
        margin-bottom: 3.2rem; }
  @media only screen and (max-width: 75em) {
    .main-container.work-with-section-container {
      background: #e2f3f3; } }

.main-container.income-section-container {
  grid-template-rows: min-content; }
  .main-container.income-section-container .income-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: 6.4rem; }
    @media only screen and (max-width: 75em) {
      .main-container.income-section-container .income-header {
        padding-top: 6.4rem; } }
  .main-container.income-section-container .income-content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.income-section-container .income-content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.income-section-container .income-content {
        grid-column: 2 / span 12;
        grid-row: 3; } }
  .main-container.income-section-container .income-img {
    grid-row: 2;
    grid-column: 9 / span 5; }
    .main-container.income-section-container .income-img img {
      width: 100%; }
    @media only screen and (max-width: 75em) {
      .main-container.income-section-container .income-img {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem;
        grid-row: 2; } }

.main-container.measure-section-container {
  background-color: #e2f3f3;
  grid-template-rows: min-content; }
  .main-container.measure-section-container .measures-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: 6.4rem; }
  .main-container.measure-section-container .measures-img {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.measure-section-container .measures-img img {
      width: 100%; }
    @media only screen and (max-width: 75em) {
      .main-container.measure-section-container .measures-img {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem;
        grid-row: 2; } }
  .main-container.measure-section-container .measures-content {
    grid-row: 2;
    grid-column: 8 / span 6;
    margin-left: 3.2rem; }
    .main-container.measure-section-container .measures-content .measure {
      display: flex;
      align-items: flex-start; }
      .main-container.measure-section-container .measures-content .measure img {
        margin-right: 3.2rem;
        height: 1.8rem;
        width: 3.4rem;
        margin-top: 0.8rem; }
      .main-container.measure-section-container .measures-content .measure p {
        margin-left: 3.2rem;
        padding-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.measure-section-container .measures-content {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem;
        grid-row: 3; } }

.main-container.awareness-section-container {
  grid-template-rows: min-content; }
  .main-container.awareness-section-container .awareness-header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.awareness-section-container .awareness-img {
    grid-row: 2;
    grid-column: 9 / span 5; }
    .main-container.awareness-section-container .awareness-img img {
      width: 100%; }
    @media only screen and (max-width: 75em) {
      .main-container.awareness-section-container .awareness-img {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem;
        grid-row: 2; } }
  .main-container.awareness-section-container .awareness-content {
    grid-row: 2;
    grid-column: 2 / span 6; }
    .main-container.awareness-section-container .awareness-content p {
      padding-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.awareness-section-container .awareness-content {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem;
        grid-row: 3; } }

.main-container.health-initiatives-container {
  grid-template-rows: min-content;
  padding-bottom: 6.4rem; }
  .main-container.health-initiatives-container .health-header {
    grid-row: 1;
    grid-column: 7 / span 7; }
    @media only screen and (max-width: 75em) {
      .main-container.health-initiatives-container .health-header {
        grid-column: 2 / span 12; } }
  .main-container.health-initiatives-container .health-img {
    grid-row: 2;
    grid-column: 2 / span 5; }
    .main-container.health-initiatives-container .health-img img {
      width: 100%; }
    @media only screen and (max-width: 75em) {
      .main-container.health-initiatives-container .health-img {
        grid-column: 2 / span 12;
        padding-bottom: 3.2rem; } }
  .main-container.health-initiatives-container .health-content {
    grid-row: 2;
    grid-column: 7 / span 7; }
    .main-container.health-initiatives-container .health-content p {
      padding-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.health-initiatives-container .health-content {
        grid-column: 2 / span 12;
        grid-row: 3; } }

.main-container.about-intro-section {
  grid-template-rows: min-content; }
  .main-container.about-intro-section .about-headers {
    grid-row: 1;
    grid-column: 2 / span 7; }
    @media only screen and (max-width: 75em) {
      .main-container.about-intro-section .about-headers {
        grid-column: 2 / span 12; } }
  .main-container.about-intro-section .about-content {
    grid-row: 2;
    grid-column: 2 / span 7; }
    .main-container.about-intro-section .about-content p:not(:last-child) {
      padding-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.about-intro-section .about-content {
        grid-column: 2 / span 12; } }

.main-container.vision-section {
  grid-template-rows: min-content;
  justify-content: center; }
  .main-container.vision-section .blue-right-side-section {
    grid-row: 1 / span 1;
    grid-column: 8 / span 6;
    background-color: #e2f3f3; }
    @media only screen and (max-width: 75em) {
      .main-container.vision-section .blue-right-side-section {
        display: none; } }
  .main-container.vision-section .vision-img {
    grid-row: 1 / span 1;
    grid-column: 2 / span 8; }
    .main-container.vision-section .vision-img img {
      width: auto;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 75em) {
      .main-container.vision-section .vision-img {
        grid-row: 1;
        grid-column: 2 / span 12;
        margin: 0 auto;
        align-items: center; }
        .main-container.vision-section .vision-img img {
          height: auto;
          max-width: 100%; } }
    @media only screen and (max-width: 48em) {
      .main-container.vision-section .vision-img img {
        grid-column: 1 / -1; } }
  .main-container.vision-section .vision-content {
    background-color: #f9f9f9;
    grid-row: 1;
    grid-column: 6 / span 7;
    height: 90%;
    align-self: center;
    padding: 5rem;
    transform: translateX(6.4rem); }
    .main-container.vision-section .vision-content p:not(:last-child) {
      margin-bottom: 3.2rem; }
    @media only screen and (max-width: 75em) {
      .main-container.vision-section .vision-content {
        margin-top: 3.2rem;
        grid-row: 2;
        grid-column: 2 / span 12;
        height: 100%;
        padding: 3.2rem;
        transform: translateX(0); } }
    @media only screen and (max-width: 48em) {
      .main-container.vision-section .vision-content {
        padding: 1.6rem; } }

.main-container.mission-section {
  background: url(../img/about/triangle-bg.png) no-repeat center center/cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
  .main-container.mission-section .mission-header {
    grid-row: 1;
    grid-column: 2 / span 12; }
  .main-container.mission-section .mission-intro {
    grid-row: 2;
    grid-column: 2 / span 8;
    margin-bottom: 6.4rem; }
    @media only screen and (max-width: 48em) {
      .main-container.mission-section .mission-intro {
        grid-column: 2 / span 12; } }
  .main-container.mission-section .mission-content-list {
    grid-row: 3;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    row-gap: 6.4rem;
    column-gap: 3.2rem; }
    .main-container.mission-section .mission-content-list li {
      padding-right: 2rem; }
    @media only screen and (max-width: 40rem) {
      .main-container.mission-section .mission-content-list {
        row-gap: 3.2rem; } }

.main-container.help-section {
  grid-template-rows: min-content; }
  .main-container.help-section .help-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: 3.2rem; }
  .main-container.help-section .help-item-container {
    grid-row: 2;
    grid-column: 2 / span 12;
    display: grid;
    grid-template-rows: min-content;
    row-gap: 6.4rem; }
  .main-container.help-section .help {
    display: flex; }
    .main-container.help-section .help div {
      width: 30%;
      color: #222;
      padding-right: 1.5rem;
      display: flex;
      align-items: flex-start;
      padding-left: 5rem; }
      .main-container.help-section .help div img {
        padding-top: 0.8rem;
        padding-right: 1.2rem; }
      @media only screen and (max-width: 75em) {
        .main-container.help-section .help div {
          width: 100%;
          padding-left: 0;
          padding-bottom: 3.2rem; } }
    .main-container.help-section .help p {
      width: 65%;
      grid-column: 2; }
      @media only screen and (max-width: 75em) {
        .main-container.help-section .help p {
          width: 100%; } }
    @media only screen and (max-width: 75em) {
      .main-container.help-section .help {
        flex-direction: column;
        width: 100%; } }
