.main-container.about-intro-section {
  grid-template-rows: min-content;

  .about-headers {
    grid-row: 1;
    grid-column: 2 / span 7;
    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
    }
  }

  .about-content {
    grid-row: 2;
    grid-column: 2 / span 7;

    p {
      &:not(:last-child) {
        padding-bottom: $space-sm;
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
    }
  }
}

// our vision section

.main-container.vision-section {
  grid-template-rows: min-content;

  justify-content: center;
  .blue-right-side-section {
    grid-row: 1 / span 1;
    grid-column: 8 / span 6;
    background-color: $color-secondary;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  .vision-img {
    grid-row: 1 / span 1;
    grid-column: 2 / span 8;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-large) {
      grid-row: 1;
      grid-column: 2 / span 12;
      margin: 0 auto;

      align-items: center;
      img {
        height: auto;
        max-width: 100%;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      img {
        grid-column: 1 / -1;
      }
    }
  }

  .vision-content {
    background-color: $color-base;
    grid-row: 1;
    grid-column: 6 / span 7;
    height: 90%;
    align-self: center;

    padding: 5rem;
    transform: translateX($space-md);

    p {
      &:not(:last-child) {
        margin-bottom: $space-sm;
      }
    }

    @media only screen and (max-width: $bp-large) {
      margin-top: $space-sm;
      grid-row: 2;
      grid-column: 2 / span 12;
      height: 100%;
      padding: $space-sm;
      transform: translateX(0);
    }
    @media only screen and (max-width: $bp-medium) {
      padding: $space-tiny;
    }
  }
}

//   our mission section
.main-container.mission-section {
  background: url(../img/about/triangle-bg.png) no-repeat center center/cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .mission-header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .mission-intro {
    grid-row: 2;
    grid-column: 2 / span 8;
    margin-bottom: $space-md;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2 / span 12;
    }
  }

  .mission-content-list {
    grid-row: 3;
    grid-column: 2 / span 12;

    display: grid;
    //auto responsive grid
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    row-gap: $space-md;
    column-gap: $space-sm;

    li {
      padding-right: 2rem;
    }

    @media only screen and (max-width: 40rem) {
      row-gap: $space-sm;
    }
  }
}

// how you can help section

.main-container.help-section {
  grid-template-rows: min-content;

  .help-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: $space-sm;
  }

  .help-item-container {
    grid-row: 2;
    grid-column: 2 / span 12;

    display: grid;
    grid-template-rows: min-content;
    row-gap: $space-md;
  }

  .help {
    display: flex;

    div {
      width: 30%;
      color: $text-dark;
      padding-right: 1.5rem;
      display: flex;
      align-items: flex-start;
      padding-left: 5rem;
      img {
        padding-top: 0.8rem;
        padding-right: 1.2rem;
      }

      @media only screen and (max-width: $bp-large) {
        width: 100%;
        padding-left: 0;
        padding-bottom: $space-sm;
      }
    }

    p {
      width: 65%;
      grid-column: 2;
      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      width: 100%;
    }
  }
}
