.main-container.intro-section {
  grid-template-rows: min-content;
  padding-top: $space-lg;
  padding-bottom: $space-lg;

  .about-headers {
    grid-row: 1;
    grid-column: 2 / span 7;
    h4,
    h2 {
      margin-bottom: $space-md;
    }
  }

  .about-content {
    grid-row: 2;
    grid-column: 2 / span 7;

    p {
      &:not(:last-child) {
        padding-bottom: $space-sm;
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
    }
  }
}

// our vision section

.main-container.vision-section {
  grid-template-rows: min-content;
  margin-bottom: $space-lg;

  .blue-right-side-section {
    grid-row: 1 / span 1;
    grid-column: 9 / span 5;
    background-color: $color-secondary;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  .vision-img {
    grid-row: 1;
    grid-column: 2 / span 8;

    img {
      max-width: 110%;
      height: auto;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
      max-height: 40vh;
      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }
  }

  .vision-content {
    background-color: $color-base;
    grid-row: 1;
    grid-column: 6 / span 7;
    margin-top: $space-sm;
    margin-bottom: $space-sm;
    padding: $space-md;
    transform: translateX($space-md);

    h2 {
      margin-bottom: $space-md;
      //   padding-left: $space-md;
    }

    p {
      //   padding-right: $space-sm;
      &:not(:last-child) {
        padding-bottom: $space-sm;
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-row: 2;
      grid-column: 2 / span 12;
      padding: $space-tiny;
      transform: translateX(0);
    }
  }
}

//   our mission section
.main-container.mission-section {
  padding-top: $space-lg;
  padding-bottom: $space-lg;
  background: url(../img/about/triangle-bg.png) no-repeat center center/cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .mission-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: $space-md;
  }

  .mission-intro {
    grid-row: 2;
    grid-column: 2 / span 8;
    margin-bottom: $space-md;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2 / span 12;
    }
  }

  .mission-content-list {
    grid-row: 3;
    grid-column: 2 / span 12;

    display: grid;
    //auto responsive grid
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    row-gap: $space-md;
    column-gap: $space-sm;

    li {
      padding-right: 2rem;
    }
  }
}

// how you can help section

.main-container.help-section {
  padding-top: $space-lg;
  padding-bottom: $space-lg;
  grid-template-rows: min-content;

  .help-header {
    grid-row: 1;
    grid-column: 2 / span 12;
    margin-bottom: $space-lg;
  }

  .help-item-container {
    grid-row: 2;
    grid-column: 2 / span 12;

    display: grid;
    grid-template-rows: min-content;
    row-gap: $space-md;
  }

  .help {
    display: flex;

    div {
      width: 30%;
      color: $text-dark;
      padding-right: 1.5rem;
      display: flex;
      align-items: flex-start;
      padding-left: 5rem;
      img {
        padding-top: 0.8rem;
        padding-right: 1.2rem;
      }

      @media only screen and (max-width: $bp-large) {
        width: 100%;
        padding-left: 0;
        padding-bottom: $space-sm;
      }
    }

    p {
      width: 65%;
      grid-column: 2;
      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }
    }

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      width: 100%;
    }
  }

  @media only screen and (max-width: $bp-large) {
    padding-top: $space-md;
    padding-bottom: $space-md;
  }
}
