//COLOR VARIABLES
$color-primary: #1800ff;
$color-secondary: #e2f3f3;
$color-cta: #d63e2a;
$color-base: #f9f9f9;
$color-light: #fff;
$text-dark: #222;
$text-light: #fff;

//FONT FAMILIES
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Montserrat:wght@400;500&family=Rubik:wght@500&display=swap");

//FONT VARIABLES
$font-headings: "Rubik", sans-serif;
$font-body: "Karla", sans-serif;
$font-brand: "Montserrat", sans-serif;
$font-weight-rubik-med: 500;
$font-weight-karla-reg: 400;

//Responsive breakpoints
$bp-largest: 78.75; //1260px
$bp-large: 75em; //1200px
$bp-md-lg: 64em; //1025px
$bp-medium: 48em; //768 px
$bp-small: 37.5em; //600px

//SPACES
$space-tiny: 1.6rem;
$space-sm: 3.2rem;
$space-md: 6.4rem;
$space-lg: 11.2rem;

//TEXT SIZES
h1 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 7.5rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

h2 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 5rem;
  margin-bottom: $space-md;
  @media only screen and (max-width: $bp-small) {
    font-size: 3.1rem;
    margin-bottom: $space-sm;
  }
}

h3 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 3rem;
  @media only screen and (max-width: $bp-small) {
    font-size: 2.5rem;
  }
}

h4 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 1.8rem;
  margin-bottom: $space-md;
  @media only screen and (max-width: $bp-small) {
    margin-bottom: $space-sm;
  }
}

//FONT CLASSES
.p-style {
  font-family: "Karla", sans-serif;
  font-weight: $font-weight-karla-reg;
  font-size: 1.8rem;
  line-height: 1.5;

  // @media only screen and (max-width: $bp-small) {
  //   font-size: 1.6rem;
  // }
}

.p-style-hero {
  font-family: "Karla", sans-serif;
  font-weight: $font-weight-karla-reg;
  font-size: 2.5rem;
  line-height: 1.5;
  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
}

//***** REUSABLE COMPONENTS

// link style
button a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

//container padding
.dbl-pad {
  padding-top: $space-lg;
  padding-bottom: $space-lg;

  @media only screen and (max-width: $bp-large) {
    padding-top: $space-md;
    padding-bottom: $space-md;
  }
}

.top-pad {
  padding-top: $space-lg;

  @media only screen and (max-width: $bp-large) {
    padding-top: $space-md;
  }
}

.bottom-pad {
  padding-bottom: $space-lg;

  @media only screen and (max-width: $bp-medium) {
    padding-bottom: $space-md;
  }
}

//page layout grid
.main-container {
  max-width: 144rem;
  margin-right: auto;
  margin-left: auto;
  color: $text-dark;

  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, 1fr) minmax(1rem, 1fr);
  column-gap: 2.4rem;
  //grid rows set in individual pages
}

//underlines

h2.underline {
  &--primary {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 5rem;
      border: 0.41rem solid $color-primary;
      background-color: $color-primary;
      @media only screen and (max-width: $bp-medium) {
        width: 3rem;
      }
    }
  }
}

h3.underline {
  &--primary {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-primary;
      background-color: $color-primary;
    }
  }

  &--secondary {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-secondary;
      background-color: $color-secondary;
    }
  }

  &--cta {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-cta;
      background-color: $color-cta;
    }
  }
}

h4.underline {
  &--primary {
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 3rem;
      border: 0.2rem solid $color-primary;
      background-color: $color-primary;
    }
  }
}

// basic button
.btn-basic {
  width: 20.9rem;
  height: 4.8rem;
  font-family: "Karla", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;

  &:hover {
    transition: transform 1s ease;
    transform: translateY(0.08rem);
    background-color: darken($color-light, 1%);
  }
  &:focus {
    outline: none;
  }
}

//Overall page
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}
