//COLOR VARIABLES
$color-primary: #1800ff;
$color-secondary: #e2f3f3;
$color-cta: #d63e2a;
$color-light: #fff;
$text-dark: #222;
$text-light: #fff;

//FONT VARIABLES
$font-headings: "Rubik", sans-serif;
$font-body: "Karla", sans-serif;
$font-weight-rubik-med: 500;
$font-weight-karla-reg: 400;

//TEXT SIZES
h1 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 7.5rem;
}

h2 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 5rem;
}

h3 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 3rem;
}

h4 {
  font-family: $font-headings;
  font-weight: $font-weight-rubik-med;
  font-size: 1.8rem;
}

//SPACES
$space-tiny: 1.6rem;
$space-sm: 3.2rem;
$space-md: 6.4rem;
$space-lg: 11.2rem;

//FONT CLASSES
.p-style {
  font-family: "Karla", sans-serif;
  font-weight: $font-weight-karla-reg;
  font-size: 1.8rem;
  line-height: 1.5;
}

.p-style-hero {
  font-family: "Karla", sans-serif;
  font-weight: $font-weight-karla-reg;
  font-size: 2.5rem;
  line-height: 1.5;
}

.paragraph-mobile {
  font-family: "Karla", sans-serif;
  font-weight: $font-weight-karla-reg;
  font-size: 1.6rem;
  line-height: 1.5;
}

// REUSABLE COMPONENTS

//page layout grid
.main-container {
  background-color: rgba($color: pink, $alpha: 0.1);
  max-width: 144rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: $space-lg;
  padding-bottom: $space-lg;
  color: $text-dark;

  display: grid;
  grid-template-columns: minmax(11.6rem, 1fr) repeat(12, 1fr) minmax(
      11.6rem,
      1fr
    );
  grid-column-gap: 2.4rem;
  //grid rows set in individual pages
}

//underlines

h2.underline {
  position: relative;

  &--primary {
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 5rem;
      border: 0.41rem solid $color-primary;
      background-color: $color-primary;
    }
  }
}

h3.underline {
  position: relative;

  &--primary {
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-primary;
      background-color: $color-primary;
    }
  }

  &--secondary {
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-secondary;
      background-color: $color-secondary;
    }
  }

  &--cta {
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 2.4rem;
      border: 0.2rem solid $color-cta;
      background-color: $color-cta;
    }
  }
}

h4.underline {
  position: relative;

  &--primary {
    &:before {
      content: " ";
      position: absolute;
      top: 100%;
      width: 3rem;
      border: 0.2rem solid $color-primary;
      background-color: $color-primary;
    }
  }
}

// basic button
.btn-basic {
  width: 20.9rem;
  height: 4.8rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    transition: transform 1s ease;
    transform: translateY(0.08rem);
    background-color: darken($color-light, 1%);
  }
  &:focus {
    outline: none;
  }
}

//Overall page
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//Responsive breakpoints
$bp-largest: 75em; //1200px

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}
