.main-container.intro-section {
  grid-template-rows: min-content;
  padding-bottom: $space-md;
  background-color: gold;

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .spreading-joy-content {
    grid-row: 2;
    grid-column: 2 / span 6;
    background-color: greenyellow;

    p {
      padding-bottom: $space-sm;
    }
    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
      grid-row: 2;
    }
  }

  .spreading-joy-img {
    grid-row: 2;
    grid-column: 8 / span 6;
    background-color: pink;

    img {
      transform: translate(1rem, 4rem);
      max-width: 110%;
      @media only screen and (max-width: $bp-large) {
        transform: translate(0);
        max-width: 100%;
      }
    }
    @media only screen and (max-width: $bp-large) {
      grid-column: 2 / span 12;
      grid-row: 3;
      padding-top: $space-sm;
      margin: 0 auto;
    }
  }
}

//Touring Karamoja section
.main-container.touring-section {
  grid-row: min-content;
  grid-column: 1 / -1;
  background: url(../img/bringasmile/triangle-bg.png) no-repeat center
    center/cover;

  //mothers sample partial bg
  //     background: linear-gradient(
  //   to bottom,
  //   $color-secondary 0%,
  //   $color-secondary 60%,
  //   $color-light 60%,
  //   $color-light 100%
  // );

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
    background-color: purple;
    margin-bottom: $space-md;
  }

  .section-touring-karamoja {
    grid-row: 2;
    grid-column: 2 / span 12;

    .container-touring-karamoja {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content;
      column-gap: 2.4rem;
      row-gap: $space-md;
      padding-top: $space-md;
      padding-bottom: $space-md;

      background-color: $color-light;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);

      p {
        grid-row: 1;
        grid-column: 2 / span 10;
      }

      .key-component {
        &--1 {
          grid-row: 2;
          grid-column: 2 / span 3;
          background-color: seashell;

          img {
            margin-bottom: $space-sm;
          }

          @media only screen and (max-width: $bp-md-lg) {
            grid-column: 2 / span 10;
            grid-row: 2;
          }
        }
        &--2 {
          grid-row: 2;
          grid-column: 5 / span 4;
          background-color: lightseagreen;
          max-width: 80%;
          margin: 0 auto;
          // padding-bottom: $space-md;

          img {
            margin-bottom: $space-sm;
          }
          @media only screen and (max-width: $bp-md-lg) {
            grid-column: 2 / span 10;
            grid-row: 3;
            max-width: 100%;
            margin: 0;
          }
        }
        &--3 {
          grid-row: 2;
          grid-column: 9 / span 3;
          background-color: lightcoral;

          img {
            margin-bottom: $space-sm;
          }
          @media only screen and (max-width: $bp-md-lg) {
            grid-column: 2 / span 10;
            grid-row: 4;
          }
        }
      }
    }
  }
}

// .background-entire-touring-area {
//   grid-row: 3 / span 2;
//   grid-column: 1 / -1;
//   background: url(../img/bringasmile/triangle-bg.png) no-repeat center
//     center/cover;
//   // background-size: 40%;
// }
