.main-container.main-container-donate {
  grid-template-rows: min-content;

  .header {
    grid-row: 1;
    grid-column: 2 / span 12;
    // background-color: palegreen;
  }

  .donate-content {
    grid-row: 2;
    grid-column: 2 / span 6;
    // background-color: orchid;
    overflow: auto;

    p {
      margin-bottom: $space-sm;
    }

    @media only screen and (max-width: $bp-md-lg) {
      grid-column: 2 / span 12;
    }
  }

  // blue donation options section

  aside.donate-options {
    grid-row: 2;
    grid-column: 9 / span 5;
    background-color: $color-secondary;
    padding-bottom: $space-md;

    .container-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: $space-md;

      p {
        margin-bottom: $space-sm;
      }

      button.btn {
        width: 28.4rem;
        height: 4.8rem;
        font-weight: bold;
        border: none;
        cursor: pointer;

        &--givingway {
          background-color: $color-primary;
          color: $text-light;
          margin-bottom: $space-tiny;

          &:hover {
            transition: transform 1s ease;
            transform: translateY(0.08rem);
            background-color: darken($color-primary, 10%);
          }

          &:focus {
            outline: none;
          }
        }

        &--paypal {
          background-color: $color-light;
          color: $text-dark;

          &:hover {
            transition: transform 1s ease;
            transform: translateY(0.08rem);
            background-color: darken($color-light, 1%);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }

    @media only screen and (max-width: $bp-md-lg) {
      grid-column: 2 / span 12;
      grid-row: 3;
    }
  }

  // INITIATIVES SECTION

  section.initiatives {
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: $color-secondary;
    margin-top: $space-lg;

    .container-initiatives {
      grid-column: 2 / span 12;
      grid-row: 2;
      display: grid;
      grid-template-rows: min-content;
      row-gap: $space-md;

      h2 {
        grid-row: 1;
        margin-bottom: 0;
      }

      .initiative {
        display: flex;

        div {
          width: 42.2%;
          color: $text-dark;
          padding-right: 1.5rem;
          display: flex;
          align-items: flex-start;
          padding-left: 8rem;
          img {
            padding-top: 0.8rem;
            padding-right: 1rem;
            @media only screen and (max-width: $bp-md-lg) {
              padding-top: 0.6rem;
            }
          }
          @media only screen and (max-width: $bp-md-lg) {
            width: 100%;
            padding-left: 0;
            padding-bottom: $space-sm;
          }
        }

        p {
          // grid-column: 2;
          width: 57.8%;
          font-family: "Karla", sans-serif;
          font-weight: $font-weight-karla-reg;
          font-size: 1.8rem;
          line-height: 1.5;
          @media only screen and (max-width: $bp-md-lg) {
            width: 100%;
          }
        }
        @media only screen and (max-width: $bp-md-lg) {
          flex-direction: column;
        }
      }
    }

    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 4;
      grid-column: 1 / -1;
    }
  }
}
