footer.main-container {
  grid-template-rows: min-content;
  background-color: $color-base;

  .contact-section {
    grid-row: 1;
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    margin-bottom: $space-md;

    header h4 {
      margin-bottom: $space-sm;
    }

    .contact-item {
      display: flex;
      margin-bottom: 1rem;

      p {
        margin-left: 1rem;
        line-height: 1.2;
      }
      img.loc-icon {
        transform: translateY(-1rem);
      }
    }
    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 1;
      grid-column: 2 / span 12;
    }
  }

  .subscribe-section {
    grid-row: 1;
    grid-column: 6 / span 4;
    margin-bottom: $space-md;
    display: flex;
    flex-direction: column;

    header h4,
    p {
      margin-bottom: $space-sm;
    }

    form.subscribe-form {
      display: flex;

      input {
        border: 0.1rem solid #d2d2d2;
        font-family: "Karla", sans-serif;
        font-size: 1.6rem;
        padding: 1rem;
        width: 25.9rem;

        &::placeholder {
          font-style: italic;
        }
        &:focus {
          outline: none;
        }
      }

      button.btn-basic {
        width: 10.9rem;
        background-color: $color-primary;
        color: $text-light;
        transform: translateX(-0.5rem);
        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }
    }
    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 2;
      grid-column: 2 / span 12;
    }
  }

  .social-media-section {
    grid-row: 1;
    grid-column: 11 / span 3;
    margin-bottom: $space-md;
    display: flex;
    flex-direction: column;

    header h4 {
      margin-bottom: $space-sm;
    }

    .link-container {
      display: flex;
      .icon-container {
        height: 3.2rem;
        img {
          height: 100%;
        }
        margin-right: 2rem;
      }
    }
    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 3;
      grid-column: 2 / span 12;
    }
  }

  .line {
    grid-row: 1;
    grid-column: 2 / span 12;
    border: 0.05rem solid #c4c4c4;
    width: 100%;
    align-self: end;
    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 3;
    }
  }

  .footer-bottom {
    grid-row: 2;
    grid-column: 2 / span 12;

    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo {
      margin-top: $space-sm;
      margin-bottom: $space-sm;

      .brand {
        font-family: "Montserrat", sans-serif;
        font-size: 2.5rem;
        line-height: 1.2;
      }
    }

    .copyright-container {
      display: flex;
      margin-bottom: $space-tiny;
    }
    @media only screen and (max-width: $bp-md-lg) {
      grid-row: 4;
      .copyright-container {
        flex-direction: column;
        align-items: center;

        p span {
          display: none;
        }
      }
    }
  }
}
