.main-container.hero-section {
  grid-template-rows: 90vh;

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 70vh;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 50vh;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-rows: 70vh;
  }

  //hero section

  .hero {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(22, 9, 95, 0.6)
      ),
      url(../img/home/home1.jpg) no-repeat center center/cover;

    grid-row: 1;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1,
    p,
    button {
      margin-left: 5.2rem;
      margin-right: 5.2rem;
      max-width: 30%;
      color: $text-light;
      @media only screen and (max-width: $bp-large) {
        max-width: 60%;
      }
      @media only screen and (max-width: $bp-medium) {
        max-width: 90%;
      }
    }

    p {
      padding-top: $space-sm;
      padding-bottom: $space-sm;
    }

    button {
      width: 19.1rem;
      height: 5.12rem;

      font-family: "Karla", sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      border: none;
      cursor: pointer;
      background-color: $color-cta;

      margin-bottom: $space-md;

      &:hover {
        transition: transform 1s ease;
        transform: translateY(0.08rem);
        background-color: darken($color-cta, 5%);
      }
      &:focus {
        outline: none;
      }
      @media only screen and (max-width: $bp-medium) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

// who we are header

.main-container.home-intro-section {
  grid-template-rows: min-content;
  padding-bottom: $space-md;

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .intro-img {
    grid-row: 2;
    grid-column: 7 / span 7;

    // move it up for desktop
    img {
      max-width: 95%;
      transform: translateY(-6.2rem);

      @media only screen and (max-width: $bp-large) {
        transform: translateY(0);
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-row: 2;
      grid-column: 2 / span 12;
    }
  }

  .intro-content {
    padding-top: $space-sm;
    grid-row: 2;
    grid-column: 2 / span 5;

    p {
      margin-bottom: $space-sm;
    }
    @media only screen and (max-width: $bp-large) {
      grid-row: 3;
      grid-column: 2 / span 12;
    }
  }
}

//initiatives section

.main-container.initiatives-main-section {
  grid-template-rows: min-content;

  background: linear-gradient(
    to bottom,
    $color-secondary 0%,
    $color-secondary 40%,
    $color-light 40%,
    $color-light 100%
  );

  @media only screen and (max-width: $bp-medium) {
    background: linear-gradient(
      to bottom,
      $color-secondary 0%,
      $color-secondary 35%,
      $color-light 35%,
      $color-light 100%
    );
  }

  .initiatives-intro {
    grid-row: 1;
    grid-column: 2 / span 12;
    padding-top: $space-lg;
    padding-bottom: $space-md;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;

    @media only screen and (max-width: $bp-medium) {
      text-align: left;
      max-width: 100%;
    }
  }

  .initiatives-section {
    grid-row: 2;
    grid-column: 2 / span 12;
    background-color: $color-light;

    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);

    .container-initiatives {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: min-content;
      column-gap: 2.2rem;
      row-gap: $space-lg;

      .bring-a-smile-img {
        grid-row: 1;
        grid-column: 2 / span 5;

        img {
          max-width: 100%;
          object-fit: cover;
        }
        @media only screen and (max-width: $bp-large) {
          grid-row: 1;
          grid-column: 2 / span 10;
        }
      }

      .bring-a-smile-content {
        grid-row: 1;
        grid-column: 7 / span 5;

        h3 {
          margin-bottom: $space-md;
        }

        p {
          margin-bottom: $space-md;
        }

        button {
          background-color: $color-primary;
          color: $text-light;
        }

        @media only screen and (max-width: $bp-large) {
          grid-row: 2;
          grid-column: 2 / span 10;
          display: grid;
          button {
            justify-self: center;
          }
        }
      }

      .mothers-of-gold-img {
        grid-row: 2;
        grid-column: 7 / span 5;

        img {
          max-width: 100%;
          object-fit: cover;
        }

        @media only screen and (max-width: $bp-large) {
          grid-row: 3;
          grid-column: 2 / span 10;
        }
      }

      .mothers-of-gold-content {
        grid-row: 2;
        grid-column: 2 / span 5;

        h3 {
          margin-bottom: $space-md;
        }

        p {
          margin-bottom: $space-md;
        }

        button {
          background-color: $color-primary;
          color: $text-light;
        }

        @media only screen and (max-width: $bp-large) {
          grid-row: 4;
          grid-column: 2 / span 10;
          display: grid;
          button {
            justify-self: center;
          }
        }
      }

      @media only screen and (max-width: $bp-large) {
        row-gap: $space-md;
      }
    }
  }
}

//our ministry section

.main-container.ministry-section {
  grid-template-rows: min-content;

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .ministry-img {
    grid-row: 2;
    grid-column: 2 / span 6;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media only screen and (max-width: $bp-large) {
      grid-row: 2;
      grid-column: 2 / span 12;
      margin-bottom: $space-sm;
    }
  }

  .ministry-content {
    grid-row: 2;
    grid-column: 8 / span 5;

    p {
      margin-bottom: $space-sm;
    }

    button {
      margin-top: $space-md;
      border: 0.3rem solid $color-secondary;
      background-color: $color-light;
    }
    @media only screen and (max-width: $bp-large) {
      grid-row: 3;
      grid-column: 2 / span 12;
      display: grid;
      button {
        margin-top: 0;
        justify-self: center;
      }
    }
  }
}

//become a gift angel section

.main-container.become-a-ga {
  grid-template-rows: min-content;
  grid-column: 1 / -1;
  background: url(../img/ministries/triangle-bg.png) no-repeat center
    center/cover;

  .content-container {
    grid-column: 1 / -1;
    p {
      margin: 0 auto;
      max-width: 50%;
    }

    button {
      background-color: $color-primary;
      color: $text-light;
      margin-top: $space-md;
    }

    text-align: center;
  }
}
