.main-container.main-container-home {
  grid-template-rows: 100vh repeat(7, min-content);

  //hero section

  .hero {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(22, 9, 95, 0.6)
      ),
      url(../img/home/home1.jpg) no-repeat center center/cover;

    grid-row: 1;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1,
    p,
    button {
      margin-left: 5.2rem;
      max-width: 30%;
      color: $text-light;
    }

    p {
      padding-top: $space-sm;
      padding-bottom: $space-sm;
    }

    button {
      width: 19.1rem;
      height: 5.12rem;

      font-family: "Karla", sans-serif;
      font-weight: bold;
      border: none;
      cursor: pointer;
      background-color: $color-cta;

      margin-bottom: $space-md;

      &:hover {
        transition: transform 1s ease;
        transform: translateY(0.08rem);
        background-color: darken($color-cta, 5%);
      }
      &:focus {
        outline: none;
      }
    }
  }

  // who we are header
  .intro-header {
    background-color: yellow;
    grid-row: 2;
    grid-column: 2 / span 12;
    padding-top: $space-lg;
  }

  //who we are section
  .intro-img {
    background-color: goldenrod;
    grid-row: 3;
    grid-column: 7 / span 7;

    // move it up for desktop
    img {
      max-width: 95%;
      transform: translateY(-6.2rem);
      margin-bottom: $space-lg;
    }
  }

  .intro-content {
    padding-top: $space-lg;
    grid-row: 3;
    grid-column: 2 / span 5;

    p {
      margin-bottom: $space-sm;
    }
  }

  //initiatives section

  .background-for-entire-initiatives-area {
    grid-row: 4 / span 2;
    grid-column: 1 / -1;
    background: linear-gradient(
      to bottom,
      $color-secondary 0%,
      $color-secondary 40%,
      $color-light 40%,
      $color-light 100%
    );
  }

  .header-initiatives {
    grid-row: 4;
    grid-column: 2 / span 12;
    padding-top: $space-lg;
    padding-bottom: $space-md;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    h2 {
      margin-bottom: $space-md;
    }
  }

  .initiatives-section {
    grid-row: 5;
    grid-column: 2 / span 12;
    background-color: $color-light;

    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);

    .container-initiatives {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, min-content);
      column-gap: 2.4rem;
      row-gap: $space-lg;
      padding-bottom: $space-lg;

      .bring-a-smile-img {
        grid-row: 2;
        grid-column: 2 / span 5;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      .bring-a-smile-content {
        grid-row: 2;
        grid-column: 7 / span 5;

        h3 {
          margin-bottom: $space-md;
        }

        p {
          margin-bottom: $space-md;
        }

        button {
          background-color: $color-primary;
          color: $text-light;
        }
      }

      .mothers-of-gold-img {
        grid-row: 3;
        grid-column: 7 / span 5;

        img {
          max-width: 100%;
          object-fit: cover;
        }
      }

      .mothers-of-gold-content {
        grid-row: 3;
        grid-column: 2 / span 5;

        h3 {
          margin-bottom: $space-md;
        }

        p {
          margin-bottom: $space-md;
        }

        button {
          background-color: $color-primary;
          color: $text-light;
        }
      }
    }
  }

  //our ministry section
  .ministry-header {
    background-color: teal;
    grid-row: 6;
    grid-column: 2 / span 12;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
  }

  .ministry-img {
    grid-row: 7;
    grid-column: 2 / span 6;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-bottom: $space-lg;
    }
  }

  .ministry-content {
    grid-row: 7;
    grid-column: 8 / span 5;

    p {
      margin-bottom: $space-sm;
    }

    button {
      margin-top: $space-md;
      margin-bottom: $space-lg;
      border: 0.3rem solid $color-secondary;
      background-color: $color-light;
    }
  }

  //become a gift angel section

  .become-a-ga {
    grid-row: 8;
    grid-column: 1 / -1;
    background: url(../img/home/triangle-bg.png) no-repeat center center/cover;

    h2 {
      padding-top: $space-lg;
      padding-bottom: $space-md;
    }

    p {
      margin: 0 auto;
      max-width: 50%;
    }

    button {
      background-color: $color-primary;
      color: $text-light;
      margin-top: $space-md;
      margin-bottom: $space-lg;
    }

    text-align: center;
  }
}
