.main-container.volunteer-intro-section {
  grid-template-rows: min-content;

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .volunteer-intro {
    &--content {
      grid-row: 2;
      grid-column: 2 / span 5;

      hr {
        background-color: $color-secondary;
        height: 0.42rem;
        border: 0;
        margin-bottom: $space-sm;
      }

      p {
        padding-bottom: $space-sm;

        .quote {
          margin-top: $space-sm;
        }
      }

      button {
        background-color: $color-primary;
        color: $text-light;
        margin-top: $space-sm;
        &:hover {
          background-color: darken($color-primary, 10%);
        }
      }

      @media only screen and (max-width: $bp-large) {
        grid-column: 2 / span 12;
        grid-row: 2;
      }
    }

    &--img {
      grid-row: 2;
      grid-column: 8 / span 6;

      img {
        width: 100%;
        height: auto;
      }

      @media only screen and (max-width: $bp-large) {
        grid-column: 2 / span 12;
        grid-row: 3;
        padding-top: $space-md;
      }
    }
  }
}

// section 2 Why volunteer

.main-container.why-section {
  background-color: $color-secondary;

  header {
    grid-row: 1;
    grid-column: 2 / span 12;
  }

  .volunteer-why {
    &--content {
      grid-row: 2;
      grid-column: 2 / span 6;

      p {
        &:not(:last-child) {
          margin-bottom: $space-sm;
        }
      }

      @media only screen and (max-width: $bp-large) {
        grid-column: 2 / span 12;
        grid-row: 2;
      }
    }

    &--img {
      grid-row: 2;
      grid-column: 8 / span 6;
      img {
        width: 100%;
      }

      @media only screen and (max-width: $bp-large) {
        grid-column: 2 / span 12;
        grid-row: 3;
        padding-top: $space-sm;
      }
    }
  }
}
